:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
}
/* Цвет заголовков #212121   */
/* Цвет текста #757575 */
/* Цвет акцента #2196F3 */
.page {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
}
.list {
  list-style: none;
}
/* button */
.button {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  /* identical to box height, or 187% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
}
/* LOGO */

.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 3%;
  text-decoration: none;
}

.header-logo {
  color: var(--title-text-color);
}

.footer-logo {
  color: var(--primary-bg-color);
}
/* Site nav */

.site-nav-link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .current {
  color: var(--accent-color);
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}
.site-nav-right-link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav-right-link:hover,
.site-nav-right-link:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  background-color: #2f303a;
}

.hero-title {
  color: var(--primary-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* Section */
.section-title {
  color: var(--title-text-color);
}
/* advantages */
.advantages-list-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantages-text {
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */
  letter-spacing: 0.03em;
}

/* services */

.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

/* team */
.section-title-name {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-position {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

/* footer */
.footer-title {
  color: var(--title-text-color);
}

/* adress */

.footer {
  background-color: #2f303a;
}
.adress {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.location {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}

/* PPORTFOLIO CSS */
/* Main block filter button */
.filter {
  background-color: #2196f3;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}

.offer-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  text-decoration: none;
}

.offer p {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9px;
  letter-spacing: 0.03em;
  color: #757575;
  text-decoration: none;
}
